<head>
  <base href="/favorites">
</head>
<app-dashboard></app-dashboard>
<body>
  <ul>
    <li *ngFor="let sciadv of sciadvsFav">
      <span (click)="onSelect(sciadv)">{{ sciadv.name }} </span>
      <button type="submit"(click)="remFav(sciadv)">unfav</button>
      <button type="submit"(click)="delete(sciadv)">del</button>   
    </li>
  </ul>
  <div *ngIf="selectedSciadv">
    <h2><u>Title :</u> {{ selectedSciadv.name }}</h2>
    <span><u>In-universe Year :</u> {{ selectedSciadv.year }}</span><br>
    <span><u>ADV Type :</u> {{ selectedSciadv.type }}</span><br>
    <span><u>Main Character :</u> {{ selectedSciadv.casting }}</span><br>
    <span><u>Length :</u> {{ selectedSciadv.length }}</span><br>
    <span><u>Release Date :</u> {{ selectedSciadv.releaseDate }}</span><br>
    <img src="{{ selectedSciadv.image }}" height="407" width="290"><br>
    <button type="submit" (click)="deleteInfo()">close</button>
  </div>
</body>